#sort-bar-section {
    width: 95%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--light-color);
    padding: .5rem;
    border-radius: 1rem;
}

#sort-filter-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#sort-form, #filter-form {
    margin: 0 .2rem;
}

.search-form-button {
    height: 2.5rem;
    padding: 0.5rem;
    text-align: center;
    margin: 0.2rem .5rem;
}

@media (max-width: 820px) {

    #sort-bar-section {
        height: auto;
        justify-content: center;
        margin-bottom: 1rem;
    }

    #sort-filter-div {
        justify-content: center;
    }

}