#my-recipes-card-section {
    background-color: var(--light-color);
    height: 33rem;
    width: 69%;

    border-radius: 2rem;
}

#my-recipes-card-h2 {
    font-family: var(--decor-font);
}

#my-recipes-card-div {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-recipe-link {
    width: 50%;
    opacity: 50%;
    margin-top: 1rem;
}

.my-recipe-link:hover {
    opacity: 100%;
}

.my-recipe-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.my-recipe-h3 {
    margin-top: 0;
}