#my-actions-section {
    height: 30%;
    background-color: var(--dark-color);
    color: var(--background-color);

    display: flex;
    flex-direction: row;

    border-radius: 2rem;
    margin-bottom: 1rem;
}

#my-actions-account-div {
    width: 60%;
    text-align: left;
    padding: 0 1rem;
}

#my-actions-buttons-div {
    display: flex;
    flex-direction: row;
}

.my-actions-link {
    display: flex;
    align-items: center;
}

@media (max-width: 820px) {

    #my-actions-section {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    #my-actions-buttons-div {
        flex-direction: column;
    }

}