#nav-bar {
    position: fixed;
    top: 0;
    background-color: var(--dark-color);
    width: 100%;
    color: var(--background-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#nav-bar-logo {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

#nav-bar-h1, #nav-bar-h1-mobile {
    font-size: 1.3rem;
    margin: 0;
    margin-top: .5rem;
    color: var(--light-color);
}

#nav-bar-h1-mobile {
    display: none;
}

#nav-bar-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 1rem;
}

#nav-bar-p {
    margin: 0;
    font-size: .7rem;
}

.nav-bar-li {
    padding-left: 1rem;
}

.nav-bar-link:hover,
.nav-bar-logo-link:hover {
    color: var(--background-color);
}


@media (max-width: 820px) {

    #nav-bar {
        font-size: 0.3rem;
    }

    #nav-bar-h1, #nav-bar-p {
        display: none;
    }

    #nav-bar-h1-mobile {
        display: inline;
        font-size: 2rem;
        margin: .2rem;
    }

    #nav-bar-ul {
        font-size: .9rem;
    }

    #nav-bar-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}
