#dashboard-main {
    display: flex;
    flex-direction: column;
}

#dashboard-h2 {
    width: 100%;
    text-align: left;
    font-weight: 400;
}

#dashboard-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#actions-favorites {
    background-color: var(--light-color);
    height: 33rem;
    width: 30%;
}