footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color);
}

#footer-p {
    text-align: center;
    margin: 0;
    margin-top: .2rem;
    margin-right: 0.2rem;
}

#footer-link {
    margin: 0;
    margin-top: .2rem;
    padding: 0;
    text-align: center;
}