/* colors */
:root {
  --dark-color: #31135A;
  --light-color: #CEBBC9;
  --background-color: #F9FFCA;
  --accent-color: #CE2D4F;
  --text-color: #31135A;
  --white-color: white;
  --light-accent-color: #CE6D8B;
  --button-color: #CE6D8B;
  --button-hover-color: #CE2D4F;
  --link-hover-color: #31135A;
  --grey-color: #585858;

  --span-color: rgb(112, 0, 69);

  --main-font: "Montserrat", sans-serif;
  --decor-font: "Fredericka the Great", sans-serif;

  /* max-width for mobile */
  --mobile-width: 820px;
}

:root {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
    height: 100vh;
    width: 100vw;
}

body {
    /* height: 100%;
    width: 100%; */
    height: 100vh;
    width: 100vw;
}

#root {
  /* height: 100%;
  width: 100%; */
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  font-family: var(--main-font);
  color: var(--accent-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: var(--decor-font);
  font-weight: 400;
  font-style: normal;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: var(--main-font);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--dark-color);
  background-color: var(--button-hover-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select, input {
  background-color: var(--background-color);
  color: var(--dark-color);
}

@media (max-width: 820px) {

  #root {
    padding: 0;
    margin: 0;
  }

}
